<div class="jumbotron">
  <div class = "container">
  <h2> A list of pills and what's in them! </h2>
    <p>When I was traveling, I found it really hard to figure out what was in my pill and find equivalent pills.  So hopefully this app will help with that. Just click on a pill to find out what hormones are in it or search by pill name or hormone name.</p>
  </div>

  <div class = "search-box">
    <h3>Enter your pill or hormone</h3>
    <div class = "searching">
      <input id="search" type="text" ng-model ="query"/><br/>
    </div>
    <h3> Search by: </h3>
      <div class = "searching">
        <select ng-model="orderProp">
          <option value="name">Pill Name</option>
          <option value="hormones">Hormones</option>
        </select>
      </div>
  </div>

</div>

<div class="container-fluid">
 
    <div ng-repeat="pill in pills |filter:query |orderBy:orderProp" class="col6">
      <div class = "card">
        <div class="name">{{pill.name}}</div>
        <div class="hormone hidden">{{pill.hormone}}</div>
      </div>
    </div>

</div>


  