/* app css stylesheet */

/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}*/

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.jumbotron {
  background-color: #C52774;
  color :#EDF6F5;
}

.span-9 {
  color :red;
}
.search-box {
  background-color: #BD5570;
  color :#EDF6F5;
  padding-bottom :10px;
  margin: auto;
  padding-left: 50px;
  padding-top :10px;
  padding-bottom :10px;
}

.searching {
  color :black;
}

body {
  background-color :#E1BAD9;
}


.pills {
  font-size :1.15em;
}

.col6 {
  width: 15%;;
  display: inline-block; 
  background-color: #68228B;
  color :white;
  margin: 30px;
  padding :1em;}



  .hormone {
    background-color :#551A8B;
    color :white;
  }
