/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.jumbotron {
  background-color: #C52774;
  color :#EDF6F5;
  text-align: center;
}

.span-9 {
  color :red;
}
.search-box {
  background-color: #BD5570;
  color :#EDF6F5;
  padding-bottom :10px;
  margin: auto;
  padding-top :10px;
  display: inline-block;
  padding-left :10px;
  padding-right :10px;
}

.searching {
  color :black;
}

body {
  background-color :#E1BAD9;
}


.pills {
  font-size:20px;
}

.column6 {
  /*width: 20%;*/
  width: 200px;
  display: inline-block; 
  background-color: #68228B;
  color :white;
  margin: 30px;
  padding :20px;
}

.column6:hover{
  background-color: #52B3BA;
  cursor: pointer;
}

.container-fluid{
  display: inline-block;
}


.hidden{
  visibility: none;
}

.hormone {
  background-color :#551A8B;
  color :white;
}
