<h1> A list of pills and what's in them! </h1>

      <!-- Pill: <input ng-model="query"> -->
      <input id="search" type="text" ng-model ="query"/>
        <select ng-model="orderProp">
          <option value="name">Pill Name</option>
          <option value="hormones">Hormones</option>
        </select>

 
      <ul class = "pills">
        <li ng-repeat="pill in pills |filter:query |orderBy:orderProp" class="pill">
            {{pill.name}}
          <p>{{pill.hormone}}</p>
        </li>
      </ul>
  